APP_NAME=Travoy
APP_ENV=local
APP_KEY=base64:B+IgwqOacUOkPTCZSVq20IFXjBYMXVQmgvfvFn1OVZI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=proj_travoy
DB_USERNAME=root
DB_PASSWORD=mysql

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.jasamarga.co.id
MAIL_PORT=25
MAIL_USERNAME=travoy@jasamarga.co.id
MAIL_PASSWORD=jmrb2019
MAIL_FROM_ADDRESS=travoy@jasamarga.co.id
MAIL_FROM_NAME=Travoy

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

FCM_KEY=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

API_DASHBOARD_USERS=

TELESCOPE_FILTER=true

HORIZON_SLACK_WEBHOOK_URL=
HORIZON_SLACK_CHANNEL=
